/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
  --gray: #A0A7B1;
  --gray-mid: #F1F2F6;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  background: var(
      --background
  );
}

.table-widget {
  border-radius: 1rem;
  background-color: var(
      --table-background);
  padding: 1.5rem;
  margin: 1rem;
  max-width: 50rem;
  max-height: 47.5rem;
  border: 2px solid var(
      --gray-background);
  box-shadow: 0px 4px 16px 0px 
      rgba(148, 156, 169, 0.15);
  text-align: left;
}

.table-widget table {
  max-width: 40rem;
  max-height: 37.5rem;
  display: block;
  border-collapse: collapse;
  table-layout: fixed;
}

.table-widget th {
  padding: 0.75rem 0.75rem 0.75rem 0.5rem;
  font-size: 0.875rem;
  color: var(--gray);
  width: fit-content;
  white-space: nowrap;
  background-color: var(
      --th-background);
}

.table-widget tfoot {
  margin-top: 1rem;
  border-top: 2px solid var(
      --gray-background);
}

.table-widget td {
  padding: 0.75rem 0.75rem 0.75rem 0.5rem;
  vertical-align: middle;
  white-space: nowrap;
  border-bottom: 2px solid var(
      --gray-background);
}

.table-row-count {
  font-size: 0.8rem;
  font-weight: 700;
  background-color: var(
      --gray-mid);
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  margin-left: 1rem;
  border-radius: 0.5rem;
}

.table-widget {
  min-height: 5rem;
}


.table-wrapper::-webkit-scrollbar {
  height: 0.75rem;
}

.table-wrapper::-webkit-scrollbar-track {
  background: var(--gray-mid);
  border-radius: 0.45rem;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 0.4rem;
}

